<h1> Create a new lesson </h1>

<% if @lesson.errors.any? %>
  <h3> Please fix these errors: </h3>
  <ul>
    <% @lesson.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/lessons" method="post" id="new_lesson">
  <input id="lesson_name" name="lessons[name]" type="text" value="<%= @lesson.name %>" placeholder="Name of Lesson">
  <input value="<%= @last_lesson.number + 1 %>" id="lesson_number" name="lessons[number]" type="text" value="<%= @lesson.number %>" placeholder="Nº">
  <button id="submit_button">Submit Lesson</button>
</form>

<textarea id="lesson_content" rows='5' cols='70' name="lessons[content]" form="new_lesson" placeholder="Enter lesson description here...">
</textarea>

<p><a href='/lessons'>Return to Main Lessons</a></p>
