
body {
  background-color: #A6DCDF !important;
}

a:link {color:#0C3B3D;}
a:visited {color:#0C3B3D;}
a:hover {color:#0C3B3D;}
a:active {color:#0C3B3D;}


h1 {
  font-family: 'Nothing You Could Do', cursive !important;
  font-weight: 400;
  text-align: center;
  font-size: 500px;
}

#wrapper {
  max-width: 80%;
  margin: 50px auto;
  padding: 25px 25px 0px 25px;
  background-color: #FF6F6B;
  border: 2px solid #BF3330;
  border-radius: 20px;
  font-family: Verdana, sans-serif;
  text-align: center;
}

#wrapper p {
  max-width: 500px;
  text-align: center;
  margin: 20px auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {

}

#lesson_name {
  border-radius: 5px;
  width: 350px;
}

#submit_button {
  border-radius: 5px;
}

#lesson_content {
  border-radius: 5px;
  margin: 20px auto;
}

#lesson_number {
  width: 45px;
  border-radius: 5px;
}

.navbar {
  margin-bottom: 30px;
}
